@page
@model ErrorModel
@{
    Layout = "Layouts/_MinimalLayout";

    var errorCode = Model.Code;
    var errorTitle = TextHelper.GetHttpErrorCodeTitle(errorCode);
    var errorDescription = TextHelper.GetHttpErrorCodeDescription(errorCode);

    ViewData["PageTitle"] = errorTitle;
}
<div class="space-y-6">
    <div class="flex flex-col md:flex-row justify-between gap-4">
        <div class="p-4 text-center md:text-right font-semibold">
            <p class="text-8xl">@errorCode</p>
            <p>Hmmm... @errorTitle</p>
        </div>
        <div class="p-4 flex items-center">
            @errorDescription
        </div>
    </div>
    <div class="flex justify-center items-center">
        <a class="button w-64" asp-area="" asp-page="@Routes.Public.Home">Back to Home</a>
    </div>
</div>
