@page
@model PersonalWebsite.Pages.MaintenanceModel
@{
    Layout = "Layouts/_MaintenanceLayout";
}
<div class="space-y-4 px-6 text-center">
    <p class="text-4xl font-semibold">SITE UNDER MAINTENANCE</p>
    <p>@Model.Message</p>
</div>
