@page
@model PersonalWebsite.Pages.Admin.HomeModel
@{
    ViewData["PageTitle"] = "Home";
}
<form method="post">
    <label for="content" class="font-semibold">Home Content</label>
    <textarea class="w-full h-96" id="content" asp-for="ContentValue"></textarea>
    <div class="flex mt-2">
        <div class="flex-1 overflow-auto">
            HTML, CSS, and JavaScript are allowed.
        </div>
        <div>
            <button type="submit" class="button w-40">Save</button>
        </div>
    </div>
</form>
