@page
@model PersonalWebsite.Pages.Admin.HomeModel
@{
    ViewData["PageTitle"] = PageNames.Home;
}
<form method="post">
    <div class="space-y-1">
        <div>
            <label for="content" class="text-lg font-bold">Home Content</label>
        </div>
        <textarea class="w-full h-96" id="content" asp-for="ContentValue"></textarea>
    </div>
    <div class="flex pt-4">
        <div class="flex-1 overflow-auto">
            HTML, CSS, and JavaScript are allowed.
        </div>
        <div>
            <button type="submit" class="button w-40">Save</button>
        </div>
    </div>
</form>
