@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");
@import "tailwindcss";
@config "../tailwind.config.js";

@theme {
    --color-text: #000;
    --color-background: #fff;
    --color-sidebar: #f1f1f1;
    --color-border: #e8e8e8;
    --color-primary: #285a2c;
    --color-secondary: #56d260;
    --color-accent: #285a2c;
    --color-text-dark: #fff;
    --color-background-dark: #1a1a1a;
    --color-sidebar-dark: #000;
    --color-border-dark: #181818;
    --color-primary-dark: #a7d7ab;
    --color-secondary-dark: #2da937;
    --color-accent-dark: #a7d7ab;
    --font-default: "Geist", sans-serif;
}

html {
    @apply font-default;
}

body {
    @apply text-text dark:text-text-dark bg-background dark:bg-background-dark;
}

aside.sidebar {
    @apply w-64 lg:w-80 flex-col py-4 bg-sidebar dark:bg-sidebar-dark border-r border-border dark:border-border-dark hidden md:flex;
}

span.nav-icon {
    @apply text-xl text-accent dark:text-accent-dark;
}

a.nav-link {
    @apply rounded-md mx-4 py-2 px-4 inline-flex gap-2 items-center font-semibold border border-sidebar dark:border-sidebar-dark hover:bg-gray-200 dark:hover:bg-gray-900;
}

a.nav-link-active {
    @apply rounded-l-md ml-4 mr-[-1px] py-2 pl-4 inline-flex gap-2 items-center font-semibold bg-background dark:bg-background-dark border-l border-t border-b border-border dark:border-border-dark;
}

a.nav-link-active-mobile {
    @apply rounded-md mx-4 py-2 px-4 inline-flex gap-2 items-center font-semibold bg-[#d7f0d9] dark:bg-[#0f2811] border border-sidebar dark:border-sidebar-dark;
}

a.dashboard-link {
    @apply rounded-md py-2 px-4 inline-flex gap-2 items-center font-semibold border border-sidebar dark:border-sidebar-dark hover:bg-gray-200 dark:hover:bg-gray-900;
}

button.heading-button {
    @apply w-10 h-10 rounded-full cursor-pointer;
}

button.heading-button-theme {
    @apply hover:bg-gray-200 dark:hover:bg-gray-800;
}

a.social-link {
    @apply rounded-full h-10 w-10 text-center p-2 hover:scale-160 transition duration-150;
}

.main-container {
    @apply mx-auto max-w-3xl xl:max-w-5xl px-4;
}

footer.footer {
    @apply border-t md:border-0 border-border dark:border-border-dark bg-sidebar dark:bg-sidebar-dark md:bg-background dark:md:bg-background-dark;
}

button.button {
    @apply rounded-md px-4 py-2 bg-primary dark:bg-primary-dark text-text-dark dark:text-text cursor-pointer;
}

h1 {
    @apply text-3xl font-bold;
}

h2 {
    @apply text-2xl font-bold;
}
