@font-face {
    font-family: 'icons';
    src: url('/fonts/icons.eot?w6xz5p');
    src: url('/fonts/icons.eot?w6xz5p#iefix') format('embedded-opentype'), url('/fonts/icons.ttf?w6xz5p') format('truetype'), url('/fonts/icons.woff?w6xz5p') format('woff'), url('/fonts/icons.svg?w6xz5p#icons') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icons' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-article:before {
    content: "\e900";
}

.icon-close:before {
    content: "\e901";
}

.icon-facebook:before {
    content: "\e902";
}

.icon-github:before {
    content: "\e903";
}

.icon-home:before {
    content: "\e904";
}

.icon-linkedin:before {
    content: "\e905";
}

.icon-mail:before {
    content: "\e906";
}

.icon-menu:before {
    content: "\e907";
}

.icon-portfolio:before {
    content: "\e908";
}

.icon-theme-dark:before {
    content: "\e909";
}

.icon-theme-light:before {
    content: "\e90a";
}

.icon-x-twitter:before {
    content: "\e90b";
}
