<div class="flex flex-wrap justify-center px-4 gap-2 text-xl">
    <a href="#" class="social-link social-link-theme">
        <span class="icon-facebook"></span>
    </a>
    <a href="#" class="social-link social-link-theme">
        <span class="icon-linkedin"></span>
    </a>
    <a href="#" class="social-link social-link-theme">
        <span class="icon-x-twitter"></span>
    </a>
    <a href="#" class="social-link social-link-theme">
        <span class="icon-github"></span>
    </a>
</div>